body {
  background-color:#e1e2e0f3;
}
table {
    border-collapse: collapse;
    background-color:white;
  }

  h2 {
    margin-bottom: 0px;
}
  
  table {
    width: 40%;
  }
  
  th {
    height: 20px;
  }

  td {
    height: 50px;
  }
  
  table, th, td {
    border: 2px solid black;
  }
  
  th, td {
    padding: 20px;
    text-align: left;
  }
  
  form {
    display: grid;
    grid-template-columns: 500px 500px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 20px;
  }
  
  button {
    height: 30px;
    width: 150px;
    border: none;
    border: 2px solid black;
    background-color:white;
  }

  .pview {
    width: 40%;
    line-height: 1.5;
    margin-right: 2px;
  }
  
  .pview input {
    width: 140px;
    height: 30px;
    border: 2px solid black;
  }

  select {
    height: 40px;
    width: 150px;
    border: 2px solid black;
  }

